@font-face {
  font-family: "sunny_spells";
  src: url("../fonts/sunny_spells-webfont.woff2") format("woff2"), url("../fonts/sunny_spells-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #86dd8d;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdHAyNTYtYmFja2dyb3VuZC0yNS5qcGc.jpg");
}

.container_logo {
  padding-top: 2rem;
}
.container_logo .logo {
  display: flex;
  justify-content: center;
}
.container_logo .logo img {
  width: 100%;
  max-width: 15%;
}

main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

h1,
h2,
span {
  font-family: "sunny_spells";
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.25rem;
}

h1 {
  font-size: 4rem;
  color: #86dd8d;
  font-family: "sunny_spells";
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.characters .selected {
  flex-basis: 23%;
  margin: 2rem 0;
  filter: drop-shadow(2px 12px 8px #bbbbbb);
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.characters .selected:hover .spells {
  display: block;
}
.characters .selected img {
  width: 100%;
  transition: all 0.5s;
  vertical-align: middle;
}
.characters .selected img:hover {
  transform: scale(1.05);
}
.characters .selected .spells {
  position: absolute;
  top: 73%;
  z-index: 2;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.281);
  width: calc(100% - 20px);
  color: #FFF;
  height: 100%;
  backdrop-filter: blur(5px);
  padding: 5px 10px;
  display: none;
}
.characters .selected .spells li {
  display: flex;
  width: 100%;
  height: 50px;
}
.characters .selected .spells li img {
  width: 50px;
}
.characters .selected .spells li .spell-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.characters .selected .spells li .spell-name p {
  margin: 0;
  font-size: 15px;
  padding-left: 10px;
}
.characters .character {
  filter: drop-shadow(2px 1px 8px #bbbbbb);
  transition: all 0.5s;
}
.characters .character .character_card {
  position: relative;
  width: 80%;
  margin: auto;
}
.characters .character .character_card .character_picture {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  filter: drop-shadow(2px 12px 8px #bbbbbb);
}
.characters .character .character_card .character_picture-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 0.4s ease;
  border-radius: 20px;
}
.characters .character .character-specs-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
}
.characters .character .character-specs-wrapper .character-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: rgb(51, 51, 51);
  font-size: 3.5rem;
}
.characters .character .character-specs-wrapper .character-specs .blade-icon {
  width: 8rem;
  transform: rotate(13deg);
}

.characters:not(.versus) .character {
  cursor: pointer;
}

.versus {
  align-items: center;
}
.versus > span {
  font-size: 6rem;
}
.versus .character {
  flex-basis: 35%;
}
.versus .character .character-specs-wrapper .character-specs {
  width: auto;
}
.versus .fight-summary {
  flex-basis: 25%;
  text-align: center;
}

.character-spec-item {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.character-spec-item .get_health {
  position: absolute;
  font-size: 2rem;
  color: rgb(71, 71, 71);
}
.character-spec-item .get_puissance {
  font-size: 3rem;
}
.character-spec-item progress {
  width: 100%;
  accent-color: #86DD8D;
  background-color: rgb(235, 232, 232);
  height: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 6px 2px #284b2b;
}
.character-spec-item progress::-webkit-progress-bar {
  background-color: rgb(235, 232, 232);
  border-radius: 10px;
}
.character-spec-item progress::-webkit-progress-value {
  background-color: #86DD8D;
  border-radius: 10px;
  box-shadow: inset 0 0 6px 2px #284b2b;
}
.character-spec-item progress::-moz-progress-bar {
  background-color: #86DD8D;
  border-radius: 10px;
  box-shadow: inset 0 0 6px 2px #284b2b;
}
.character-spec-item progress::-moz-progress-value {
  background-color: #86DD8D;
  border-radius: 10px;
  box-shadow: inset 0 0 6px 2px #284b2b;
}

.attacks {
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
}
.attacks span {
  padding-top: 1rem;
  margin-right: 2rem;
}

a {
  transition: all 0.25s;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin: 1rem;
}

.btn {
  color: #333333;
  padding: 1em 1.25em;
  background: #d6ecd8;
  border: 2px solid #708372;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8bb18f;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #4e8152, 0 0.625em 0 0 #def1e0;
  box-shadow: 0 0 0 2px #4e8152, 0 0.625em 0 0 #def1e0;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btn:hover {
  background: #d0ecd2;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}
.btn:hover::before {
  -webkit-box-shadow: 0 0 0 2px #4e8152, 0 0.5em 0 0 #def1e0;
  box-shadow: 0 0 0 2px #4e8152, 0 0.5em 0 0 #def1e0;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}
.btn:hover:active {
  background: #d0ecd2;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}
.btn:active::before {
  -webkit-box-shadow: 0 0 0 2px #4e8152, 0 0 #def1e0;
  box-shadow: 0 0 0 2px #4e8152, 0 0 #def1e0;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

.d-none {
  display: none;
}

.sith-shadow {
  border-bottom: 0.9rem solid #dd3e46;
}

.jedi-shadow {
  border-bottom: 0.9rem solid #3e8bdd;
}

#endgame {
  padding-top: 10rem;
  text-align: center;
}
#endgame .over__content-replay {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(109, 212, 100);
  border: 0.25rem solid rgb(93, 187, 121);
  border-radius: 1rem;
  padding: 1.5rem 2.25rem;
}
#endgame .over__content img {
  width: 100%;
  max-width: 90rem;
}

/*# sourceMappingURL=main.css.map */
